   body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(255, 207, 219);
}

   header{
    font-size: 50px;
    padding: 20px;
}

.navbar {
    background-color: rgb(218, 145, 162);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 150px;
    display: inline-table;
}